<div class="modules-container">

  <div class="modules-header">

    <h1>Módulos</h1>

    <p>
      Selecciona un módulo para comenzar a aprender.
    </p>

  </div>

  <div class="modules-grid">

    
    <p-card>
      <h3>HTML</h3>
      <p>
        Aprende la estructura básica de las páginas web.
      </p>
      <button>
        Entrar
      </button>
    </p-card>

    <p-card>
      <h3>CSS</h3>
      <p>
        Diseña interfaces modernas y responsivas.
      </p>
      <button>
        Entrar
      </button>
    </p-card>

    <p-card>
      <h3>JavaScript</h3>
      <p>
        Agrega lógica e interactividad a tus aplicaciones.
      </p>
      <button>
        Entrar
      </button>
    </p-card>

  </div>

</div>