.progress-container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.progress-header{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.progress-cards{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}



.progress-bar{
  width: 100%;
  height: 12px;
  background-color: #407bb1;

  border-radius: 20px;

  overflow: hidden;
}

.progress-fill{
  height: 100%;
  background-color: #022032;
}

.python{
  width: 80%;
}

.var{
  width: 50%;
}

.types{
  width: 20%;
}