<div class="progress-container">

  <div class="progress-header">
    <h1>Mi Progreso</h1>
    <p>
      Visualiza tu avance en la plataforma.
    </p>
  </div>

  <div class="progress-cards">
    <p-card>
      <h3>Python</h3>
      <p>80% completado</p>
      <div class="progress-bar">
        <div class="progress-fill python">
        </div>
      </div>
    </p-card>

    <p-card>
      <h3>Variables</h3>
      <p>50% completado</p>
      <div class="progress-bar">
        <div class="progress-fill var"></div>
      </div>
    </p-card>
      
    <p-card>
      <h3>Tipos de datos</h3>
      <p>20% completado</p>
      <div class="progress-bar">
        <div class="progress-fill types">
        </div>
      </div>
    </p-card>

  </div>

</div>      