<div class="settings-container">

  <div class="settings-header">
    <h1>Configuración</h1>
    <p>Administra tu cuenta y sesión.</p>
  </div>

  <div class="settings-card">

    <p-card>
    <h3>Información Personal</h3>

    <div class="info-item">
      <p>Nombre:</p>
      <p>[NAME_USER]</p>
    </div>

    <div class="info-item">
      <p>Correo:</p>
      <p>[EMAIL_ADDRESS]</p>
    </div>
    </p-card>
    
    <p-card>
      <p-button label="Cerrar Sesión" routerLink="" class="logout-button" />
    </p-card>

  </div>

</div>